body {
  font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.headre-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  height: 72;
  justify-content: space-between;
  flex-shrink: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  display: flex;
  align-items: flex-start;
  gap: 0;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo .logo-studio {
  color: #2e2f42;
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 3;
  padding: 24px 0;
}
.header-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
}
.header-nav-link:active {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.address-list {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  padding-left: 15px;
}
.address-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: unset;
  display: flex;
  align-items: center;
  gap: 0;
}
.address-item-link:hover {
  color: #404bbf;
}
.address-item-link:focus {
  color: #404bbf;
}
.hero {
  background: #2e2f42;
  margin-top: 0;
  margin-bottom: 120px;
  height: 600px;
  padding: 188px 0;
}

.hero-title {
  padding: 188px 0;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}
.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  border: none;
}

.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
.benefits {
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 120px;
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-list-title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  flex-basis: calc((100% - 3 * 24px));
  display: flex;
  gap: 24px;
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 0;
  padding-bottom: 72px;
  margin-bottom: 72px;
}
.card-team {
  text-align: center;
  padding: 32px 0;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.portfolio {
  margin-top: 0;
  margin-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio-header {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-subheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background: #2e2f42;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 0;
}
footer .logo {
  padding-bottom: 16px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  padding-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
